<div th:fragment="empPdfModal">
  <div class="modal fade" id="empPdfModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">

        <!-- 모달 헤더 -->
        <div class="modal-header">
          <h5 class="modal-title">근로계약서</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"></button>
        </div>

        <!-- 모달 바디 -->
        <div class="modal-body p-0">
          <iframe
            id="empPdfFrame"
            style="width:100%; height:80vh; border:none;">
          </iframe>
        </div>

      </div>
    </div>
  </div>
</div>