<!-- /templates/business/modal/addOustModal.html -->
<div th:fragment="addOustModal">

  <!-- 모달 백드롭 -->
  <div class="modal-backdrop" id="addOustBackdrop"></div>

  <!-- 모달 -->
  <div class="modal" id="addOustModal">
    <div class="modal-dialog modal-dialog-centered" style="--bs-modal-width: 900px;">
      <div class="modal-content">

        <div class="modal-body">

          <!-- 헤더 -->
          <div class="card-header with-actions">
            <div class="card-header-left">
              <h5 class="modal-title">출하지시서 작성</h5>
            </div>
            <div class="card-header-right">
              <button type="button" class="btn btn-dark" id="addOustInit">초기화</button>
              <button type="button" class="btn btn-outline-dark" id="addOustSaveBtn">저장</button>
            </div>
          </div>

          <div class="row mt-3">

            <div class="col-md-12 d-flex">
              <div class="card w-100 h-100">

                <!-- 주문서 입력 폼 -->
                <div class="card-body d-flex flex-column justify-content-between">
                  <div class="row g-3">

                    <!-- 숨김값 -->

                    <!-- 1행: 주문서ID, 고객사명, 납기일 -->
                    <div class="col-md-4">
                      <label for="viewSoId" class="form-label">주문서ID</label>
                      <input id="viewSoId" type="text" class="form-control" readonly>
                    </div>

                    <div class="col-md-4">
                      <label for="viewCustcom" class="form-label">고객사명</label>
                      <input id="viewCustcom" type="text" class="form-control" readonly>
                    </div>
                    
                    <div class="col-4"></div>
                    
					<!--  2행: 납기일 -->                    
                    <div class="col-md-4">
                      <label for="viewDueDt" class="form-label">납기일</label>
                      <input id="viewDueDt" type="text" class="form-control" readonly>
                    </div>
                    
                    <div class="col-8"></div>
                    
                    <!-- 3행: 출하예정일  -->
                    <div class="col-md-4">
                      <label for="viewPlanDt" class="form-label">출하예정일</label>
                      <input id="viewPlanDt" type="text" class="form-control" readonly>
                    </div>
                    
                    <div class="col-8"></div>
                    
                    <!-- 4행: 출하요청일 -->
                    <div class="col-md-4">
						<label for="oustRequestDt" class="form-label">출하요청일</label>
						<div class="input-group date" id="applyDatePicker">
						    <input type="text" class="form-control oust-request-datepicker" id="applyDate" placeholder="출하요청일 선택">
						    <span class="input-group-text" id="icon-calendar">
						        <i class="bi bi-calendar"></i>
						    </span>
						</div>
					</div>
					
                    <div class="col-8"></div>
                    
                    <!-- 5행: 배송지주소 -->
                    <div class="col-md-12">
                      <label for="viewAddr" class="form-label">배송지주소</label>
                      <input id="viewAddr" type="text" class="form-control">
                    </div>

                    <!-- 6행: 요청사항 -->
                    <div class="col-md-12">
                      <label for="viewRm" class="form-label">요청사항</label>
                      <textarea id="viewRm" class="form-control" rows="2"></textarea>
                    </div>

                  </div> <!-- /row -->
                </div> <!-- /card-body -->

              </div>
            </div>
          </div> <!-- /row -->
        </div> <!-- /modal-body -->

      </div>
    </div>
  </div>
</div>