<!-- /templates/business/modal/creditModal.html -->
<div th:fragment="creditModal">
	<!-- ✅ 모달 본체 -->
	<div class="modal-backdrop" id="creditBackdrop"></div>
	<div class="modal" id="creditModal">
		<div class="modal-dialog modal-dialog-centered"
			style="--bs-modal-width: 800px;">
			<div class="modal-content">
				<div class="modal-body">
					<h5 class="modal-title">고객사 상세정보</h5>
					
					
					<div id="custcomInfo">
						<span class="label">고객사코드:</span>
						<span id="custcomIdText"></span>
						
						<span class="label" style="margin-left:30px;">고객사명:</span>
						<span id="mCustcomNameText"></span>
					</div>
					<div class="row">
						
						
						<!--업체정보 카드 -->
						<div class="col-md-12 d-flex">
							<!-- <div class="card w-100 h-100">

								카드 헤더 : 제목 + 초기화/조회 버튼
								<div class="card-header with-actions">
									<div class="card-header-left">
										<h5 class="card-title">업체정보</h5>
									</div>

								</div> -->

								<!-- 업체정보 -->
								<div
									class="card-body d-flex flex-column justify-content-between">
									<div class="row g-3">
										<!-- 위쪽 영역 -->
										<div class="col-12">
											<label for="bizAddr" class="form-label">사업장주소</label> <input
												id="bizAddr" type="text" class="form-control"
												placeholder="YEDAM">
										</div>

										<!-- 중간 : 유형 / 할인율 / 적용일 -->
										<div class="col-md-6">
											<div class="mb-3">
												<label for="bizTel" class="form-label">연락처</label> <input
													id="bizTel" type="text" class="form-control"
													placeholder="YEDAM">
											</div>
										</div>

										<div class="col-md-6">
											<div class="mb-3">
												<label for="bizFax" class="form-label">Fax번호</label> <input
													id="bizFax" type="text" class="form-control"
													placeholder="YEDAM">
											</div>
										</div>


										<!-- 3번째줄  -->
										<div class="col-md-6">
											<div class="mb-3">
												<label for="psch" class="form-label">담당자</label> <input
													id="psch" type="text" class="form-control"
													placeholder="YEDAM">
											</div>
										</div>

										<div class="col-md-6">
											<div class="mb-3">
												<label for="pschTel" class="form-label">담당자연락처</label>
												<input id="pschTel" type="text" class="form-control"
													placeholder="YEDAM">
											</div>
										</div>

									</div>

									<!-- 아래 : 비고 (아래쪽에 붙도록) -->
									<div class="col-12 mt-auto">
										<label for="pschEmail" class="form-label">담당자이메일</label> <input
											id="pschEmail" type="text" class="form-control"
											placeholder="YEDAM">
									</div>
								</div>
							</div>
						<!-- </div> -->
						<!--업체정보 카드 end -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>