<!-- /templates/business/modal/newSoModal.html -->
<div th:fragment="newSoModal">

  <!-- 모달 백드롭 -->
  <div class="modal-backdrop" id="newSoBackdrop"></div>

  <!-- 모달 -->
  <div class="modal" id="newSoModal">
    <div class="modal-dialog modal-dialog-centered" style="--bs-modal-width: 900px;">
      <div class="modal-content">

        <div class="modal-body">

          <!-- 헤더 -->
          <div class="card-header with-actions">
            <div class="card-header-left">
              <h5 class="modal-title">견적 기반 주문서 등록</h5>
            </div>
            <div class="card-header-right">
              <button type="button" class="btn btn-dark" id="newSoModalInit">초기화</button>
              <button type="button" class="btn btn-outline-dark" id="newSoModalSaveBtn">저장</button>
            </div>
          </div>

          <div class="row mt-3">

            <div class="col-md-12 d-flex">
              <div class="card w-100 h-100">

                <!-- 주문서 입력 폼 -->
                <div class="card-body d-flex flex-column justify-content-between">
                  <div class="row g-3">

                    <!-- 숨김값 -->
                    <input type="hidden" id="newSoEstiId">
                    <input type="hidden" id="newSoDt">
					<input type="hidden" id="newSoCustcomId">
					<input id="newSoVersion" type="hidden" class="form-control" readonly>
					
					
                    <!-- 1행: 견적번호 / 버전  -->
                    <div class="col-md-4">
                      <label for="newSoEstiIdView" class="form-label">견적서코드</label>
                      <input id="newSoEstiIdView" type="text" class="form-control" readonly>
                    </div>

<!--                     <div class="col-md-4">
                      <label for="newSoVersion" class="form-label">버전</label>
                    </div> -->
                      
					
					<!-- <div class="col-md-4"></div> -->
					
					
					<!-- 2행 고객사명 / 납기일 -->
                    <div class="col-md-4">
                      <label for="newSoCustcomName" class="form-label">고객사명</label>
                      <input id="newSoCustcomName" type="text" class="form-control" readonly>
                    </div>
                    
<!--                     <div class="col-md-4">
                      <label for="newSoDt" class="form-label">주문일</label>
                      <input id="newSoDt" type="text" class="form-control" readonly>
                    </div> -->
                      
                    
                    <div class="col-md-4">
                      <label for="newSoDueDt" class="form-label">납기일</label>
                      <input id="newSoDueDt" type="text" class="form-control" readonly>
                    </div>
                    
                    <!-- <div class="col-md-4"></div> -->
                    
                    
                    <!-- 3행 입금약속일 / 입금약속금액 / 결제방법 -->
                    <!-- <div class="col-md-4">
						<label for="rciptAppoDt" class="form-label">입금약속일</label>
						<div class="input-group date js-date-single">
							<input id="rciptAppoDt" type="text" class="form-control datepicker js-date-input" placeholder="입금약속일 선택"> 
							<span class="input-group-text js-date-icon"> 
							<i class="bi bi-calendar"></i>
							</span>
						</div>
                    </div>
                    
                    
                    <div class="col-md-4">
                      <label for="rciptAppoAmt" class="form-label">입금약속금액</label>
                      <input id="rciptAppoAmt" type="text" class="form-control" placeholder="입금약속금액을 입력해주세요." >
                    </div>
                    
                    <div class="col-md-4">
						<label for="appoMtd" class="form-label">결제방법</label>
						<select id="appoMtd" class="form-select same-height price-type">
							<option value="현금">현금</option>
							<option value="카드">카드</option>
							<option value="계좌이체">계좌이체</option>
							<option value="어음">어음</option>
						</select>
                    </div> -->
                    
                    
                    <div class="col-md-12">
                      <label for="newSoShipAddr" class="form-label">배송지주소</label>
                      <input id="newSoShipAddr" type="text" class="form-control" placeholder="배송지를 입력해주세요.">
                    </div>
                    
                    <!-- 3행: 요청사항 -->
                    <div class="col-md-12">
                      <label for="newSoRm" class="form-label">요청사항</label>
                      <textarea id="newSoRm" class="form-control" rows="2" placeholder="요청사항을 입력해주세요"></textarea>
                    </div>

                  </div> <!-- /row -->
                </div> <!-- /card-body -->

              </div>
            </div>
          </div> <!-- /row -->

          <!-- 상세 리스트 그리드 -->
          <div class="card mt-3">
            <div class="card-header">
              <h5 class="card-title">주문 상세</h5>
            </div>
            <div class="card-body">
              <div id="newSoGrid"></div>
            </div>
            
            <!-- ▶ 합계 바 -->
			<div class="order-summary-bar mt-2">
			  <div class="order-summary-item">
			    <span class="order-summary-label">공급가 합계</span>
			    <span id="sumSupply" class="order-summary-value">0</span>
			  </div>
			  <div class="order-summary-item">
			    <span class="order-summary-label">부가세 합계</span>
			    <span id="sumVat" class="order-summary-value">0</span>
			  </div>
			  <div class="order-summary-item">
			    <span class="order-summary-label">총 주문금액</span>
			    <span id="sumTotal" class="order-summary-value">0</span>
			  </div>
			</div>
            
          </div>

        </div> <!-- /modal-body -->

      </div>
    </div>
  </div>
</div>