<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>edcUser.html</title>

<style>
.form-select {
	color: #000 !important;
}
/* 추가 CSS */
.readonly-input[readonly] {
	background-color: #e9ecef; /* Bootstrap 기본 disabled 색상 */
	cursor: not-allowed; /* 마우스 커서도 입력 불가 느낌 */
}

.stIsShow {
	display: none;
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header with-actions">
					<div class="card-header-left">
						<h5 class="card-title">조회</h5>
					</div>
					<div class="card-header-right">
						<button type="button" class="btn btn-dark">초기화</button>
						<button id="joHoe" type="button" class="btn btn-outline-dark">조회</button>
					</div>
				</div>
				<div class="card-body">


					<div class="row mb-2">
						<div class="col-md-3">
							<label class="form-label">교육명</label> <input type="text"
								id="edcNm" class="form-control edcJohoe" placeholder="Value">
								<input id="empId" class="edcJohoe" type="text"
								th:value="${empId}" style="display: none;">						
						</div>

						<div class="col-md-3">
							<label class="form-label">교육구분</label> <select id="edcTy"
								class="form-select edcJohoe">
								<option value="">전체</option>
								<option value="법정의무교육">법정의무교육</option>
								<option value="직무교육">직무교육</option>
								<option value="소양교육">소양교육</option>
								<option value="사내교육">사내교육</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="form-label">연도</label> <select id="edcDt"
								class="form-select edcJohoe"></select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-6">
			<!-- 사원목록 -->
			<div class="card" style="height: 415px;">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header with-actions">
					<div class="card-header-left">
						<h5 class="card-title">교육 목록 테이블</h5>
					</div>
				</div>
				<div class="card-body">

					<div id="toastGrid" style="margin: 20px;"></div>
				</div>
			</div>
		</div>
		<!-- 우측 패널 -->
		<div class="col-md-6">
			<!-- 기본정보 -->
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header with-actions">
					<div class="card-header-left">
						<h5 class="card-title">교육 기본 정보</h5>
					</div>
					<div class="card-header-right">
						<!-- <button class="btn btn-outline-dark " id="edcUserChk">등록</button> -->
						<div th:replace="~{fragments/buttons :: saveButton('MENU_HR_004', 'edcUserChk')}"></div>
					</div>
				</div>
				<div class="card-body">


					<div class="row mb-2">
						<div class="col-md-6">
							<label class="form-label">교육명</label> <input type="text"
								id="v_edcNm" class="form-control" />
								<input id="v_empId" type="text"
								th:value="${empId}" style="display: none;">
								<input id="v_edcId" type="text"
								style="display: none;">
						</div>
						<div class="col-md-6">
							<label class="form-label">교육구분</label> <input type="text"
								id="v_edcTy" class="form-control" />
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-6">
							<label class="form-label">대상자 수</label> <input id="v_edcCnt"
								class="form-control" />
						</div>
						<div class="col-md-6">
							<label for="userName" class="form-label">등록일</label>
							<div class="input-group date js-date-single">
								<input type="text" class="form-control datepicker js-date-input"
								    id="v_creaDt"
									placeholder="날짜 선택"> <span
									class="input-group-text js-date-icon"> <i
									class="bi bi-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-12">
							<label for="userName" class="form-label">기간</label>
							<div class="d-flex align-items-center js-date-range">

								<!-- 시작일 -->
								<div class="input-group date">
									<input type="text"
									    id="v_edcBeginDt"
										class="form-control datepicker js-date-range-start"
										placeholder="시작일"> <span
										class="input-group-text js-date-range-icon-start"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>

								<span class="mx-1 fw-bold fs-5">~</span>

								<!-- 종료일 -->
								<div class="input-group date ms-2">
									<input type="text"
									    id="v_edcEndDt"
										class="form-control datepicker js-date-range-end"
										placeholder="종료일"> <span
										class="input-group-text js-date-range-icon-end"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>

							</div>
						</div>

					</div>
					<div class="row mb-2">
						<div class="col-md-6">
							<label class="form-label">수료증 업로드</label> <input type="file" accept="application/pdf"
								id="v_complFile" class="form-control" />
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

<!-- 모달 -->
	<div th:replace="insa/modal/edcRegistModal :: registModal"></div>

	<script>
	const $yearr = $("#edcDt");   // select 요소 가져오기	
	const currentYear = new Date().getFullYear(); // 현재 연도
	const startYear = 1980; // 시작 연도
			
	for (let y = currentYear; y >= startYear; y--) {
	  const valueDate = y; // 서버로 넘길 값 (yyyy-MM-dd)
	  
	  $yearr.append($("<option>", {
	    value: valueDate, // 실제 전달 값
	    text: y           // 화면에 표시되는 텍스트 (년도만)
	  }));
	}
	
	const modal   = document.getElementById("registModal");
	
	//다중검색조회 메소드
	$("#joHoe").on("click", function () {
		let datas = {};
		$('.edcJohoe').each(function() {
		    datas[this.id] = $(this).val();
		});
		console.log(datas);
		// jQuery AJAX 호출
		$.ajax({
		    url: "/edcUserJohoe",                // 요청 URL
		    type: "get",                     // GET 방식 (fetch 코드와 동일)
		    data: datas
		})
		.done((result) => {
		    const newData = result.map(({ empId, ...rest }) => rest);
		    console.log(newData);
		    grid.resetData(newData);          // 결과를 grid에 반영
		})
		.fail((error) => {
		    console.error(error);
		    alert("데이터 요청 중 오류 발생");
		});
	});		

		// Grid 생성
		const grid = new tui.Grid({
			el : document.getElementById('toastGrid'),
			data : [],
			scrollX : false,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '교육명',
				name : 'edcNm',
				sortable : 'true'
			}, {
				header : '시작날짜',
				name : 'edcBeginDt',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }
			}, {
				header : '종료날짜',
				name : 'edcEndDt',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }				
			}, {
				header : '수료여부',
				name : 'complSt'				
			}, {
				header : '수료일',
				name : 'complDt',
				align : 'center',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }
			} ],
			bodyHeight : 280, // 본문 높이 고정
		});
		
		
	</script>
	<script type="module">
import { bindGridToForm, formToJson } from '/assets/js/teamExportUtil.js';

//그리드 행 클릭 시 상세정보 입력
grid.on('click', function(ev) {
    const rowData = grid.getRow(ev.rowKey);
    if (!rowData) return;

    bindGridToForm(rowData);    
    
    const dtos = formToJson();  
    console.log(dtos);
});

//등록버튼 누를시 업로드한 수료증 인증여부 확인후 DB에 update되는 메서드
		$("#edcUserChk").on("click", () => {
			var fileInput = $("#v_complFile");
			var file = fileInput.prop("files")[0];

		    if (!file) {
		        alert("먼저 PDF 파일을 선택하세요.");
		        return;
		    }
		    
		    const dto = formToJson();

		    const formData = new FormData();
		    formData.append("pdfFile", file);
		    
		    // 객체를 JSON 문자열로 변환해서 추가
		    formData.append("edcUserData", JSON.stringify(dto));


		    $.ajax({
		        url: "/edcUser/uploadPdf",   // 컨트롤러 매핑 주소
		        type: "POST",
		        data: formData,
		        processData: false,
		        contentType: false
		    })
		    .done((result) => {
		        if (result === true) {
		        	alert("인증 성공! DB 업데이트 완료");
		        } else {
		            alert("인증 실패! 문장이 없습니다.");
		        }
		    })
		    .fail((err) => {
		        console.error(err);
		        alert("업로드 중 오류 발생");
		    });


		});
</script>
</body>

</html>