<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>vcatn.html</title>
<style>
.form-select {
	color: #000 !important;
}
/* 추가 CSS */
.readonly-input[readonly] {
	background-color: #e9ecef; /* Bootstrap 기본 disabled 색상 */
	cursor: not-allowed; /* 마우스 커서도 입력 불가 느낌 */
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title"
							th:text="${Session != null and Session.masYn == 'e1' ? '조회-(관리자용)' : '조회-(사원용)'}">
						</h5>

					</div>
					<div class="card-header-right">
						<button id="reset" type="button" class="btn btn-dark">초기화</button>
						<button id="joHoe" type="button" class="btn btn-outline-dark">조회</button>
					</div>
				</div>
				<div class="card-body">

					<div class="row mb-2">
						<div class="col-md-6">
							<label for="userName" class="form-label">기간</label>
							<div class="d-flex align-items-center js-date-range">

								<!-- 시작일 -->
								<div class="input-group date">
									<input type="text" id="vcatnBegin"
										class="form-control datepicker js-date-range-start joHoeGrp"
										placeholder="시작일"> <span
										class="input-group-text js-date-range-icon-start"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>

								<span class="mx-1 fw-bold fs-5">~</span>

								<!-- 종료일 -->
								<div class="input-group date ms-2">
									<input type="text" id="vcatnEnd"
										class="form-control datepicker js-date-range-end joHoeGrp"
										placeholder="종료일"> <span
										class="input-group-text js-date-range-icon-end"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<label class="form-label">휴가유형</label> <select id="vcatnTy"
								class="form-select joHoeGrp">
								<option value="">전체</option>
								<option value="h1">연차</option>
								<option value="h2">병가</option>
								<option value="h3">특별휴가</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="form-label">상태</label> <select id="st"
								class="form-select joHoeGrp">
								<option value="">전체</option>
								<option value="g1">신청</option>
								<option value="g2">승인</option>
								<option value="g3">반려</option>
							</select>
						</div>												
						<input id="confmerId"
							th:value="${Session != null and Session.masYn == 'e1' ? Session.empId : null}"
							class="joHoeGrp" style="display: none;">
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-6">
			<!-- 사원목록 -->
			<div class="card" style="height: 775.75px;">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title"
							th:if="${Session != null and Session.masYn == 'e1'}">사원 휴가
							신청 내역</h5>
						<h5 class="card-title"
							th:unless="${Session != null and Session.masYn == 'e1'}">나의
							휴가 신청 내역 -
							[[${Session.empNm}]]([[${Session.deptId}]]/[[${Session.deptNm}]]) 잔여연차수 : [[${remndrYryc}]]
						</h5>
					</div>
				</div>
				<div class="card-body">

					<div id="toastGrid" style="margin: 20px;"></div>
				</div>
			</div>
		</div>
		<!-- 우측 패널 -->
		<div class="col-md-6">
			<!-- 기본정보 -->
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">휴가 신청상세</h5>
					</div>
					<div class="card-header-right">
						<button id="regist" class="btn btn-outline-dark ">등록</button>
						<button id="dleVcatn" class="btn btn-outline-dark"
							th:if="${Session.masYn != 'e1'}">삭제</button>
					</div>
				</div>
				<div class="card-body">

					<div class="row">
						<div class="col-md-12">
							<div class="row mb-2">
								<div class="col-md-2">
									<label class="form-label">이름</label> <input type="text"
										th:value="${Session.empNm}" id="v_nm"
										class="form-control readonly-input" readonly="readonly" /> 
										<input id="v_vcatnId" style="display: none;">
										<input id="v_vcatnDe" style="display: none;">
								</div>
								<div class="col-md-2">
									<label class="form-label">사번</label> <input type="text"
										th:value="${Session.empId}" id="v_empId"
										class="form-control readonly-input" readonly="readonly" />
								</div>
								<div class="col-md-3">
									<label class="form-label">휴가유형</label> <select id="v_vcatnTy"
										class="form-select"
										th:attr="disabled=${Session.masYn == 'e1'} ? 'disabled' : null">
										<option value="h1">연차</option>
										<option value="h2">병가</option>
										<option value="h3">특별휴가</option>
									</select>
								</div>
								<div class="col-md-5">
									<label class="form-label">사유</label> <input type="text"
										id="v_vcatnResn" class="form-control"
										th:attr="disabled=${Session.masYn == 'e1'} ? 'disabled' : null" />
								</div>
							</div>
							<div class="row mb-2">

								<div class="col-md-4">
									<label for="userName" class="form-label">신청일</label>
									<div class="input-group date js-date-single">
										<input type="text" id="v_creaDt"
											class="form-control datepicker js-date-input"
											th:attr="disabled=${Session.masYn == 'e1'} ? 'disabled' : null"
											placeholder="날짜 선택"> <span
											class="input-group-text js-date-icon"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>
								</div>
								<div class="col-md-8">
									<label for="userName" class="form-label">기간</label>
									<div class="d-flex align-items-center js-date-range">

										<!-- 시작일 -->
										<div class="input-group date">
											<input type="text"
												class="form-control datepicker js-date-range-start"
												th:attr="disabled=${Session.masYn == 'e1'} ? 'disabled' : null"
												placeholder="시작일" id="v_vcatnBegin"> <span
												class="input-group-text js-date-range-icon-start"> <i
												class="bi bi-calendar"></i>
											</span>
										</div>

										<span class="mx-1 fw-bold fs-5">~</span>

										<!-- 종료일 -->
										<div class="input-group date ms-2">
											<input type="text"
												class="form-control datepicker js-date-range-end"
												th:attr="disabled=${Session.masYn == 'e1'} ? 'disabled' : null"
												placeholder="종료일" id="v_vcatnEnd"> <span
												class="input-group-text js-date-range-icon-end"> <i
												class="bi bi-calendar"></i>
											</span>
										</div>

									</div>
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- 인사정보 -->
			<div class="card">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">휴가처리 정보</h5>
					</div>
				</div>
				<div class="card-body " style="height: 345.45px;">

					<div>
						<div class="row mb-2">
							<div class="col-md-6">
								<label>처리일</label> <input type="text" id="v_updtDt" value=""
									class="form-control" />
							</div>
							<div class="col-md-6">
								<label>승인자</label> <input id="v_cfmNm" type="text"									
									class="form-control" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-md-6">
								<label>상태</label> <select id="v_st" class="form-select">
									<option value="g1">신청</option>
									<option value="g2">승인</option>
									<option value="g3">반려</option>
								</select>
							</div>

							<!-- 출력 영역 -->
							<div class="col-md-6" id="extraArea" style="display: none;">
								<!-- 승인일 때 -->
								<div id="approveArea" style="display: none;">
									<label id="hugaSt1">비고</label>
									<textarea id="v_rm" class="form-control" rows="5"
										style="height: 150px;"></textarea>
								</div>

								<!-- 반려일 때 -->
								<div id="rejectArea" style="display: none;">
									<label id="hugaSt2">반려사유</label>
									<textarea id="v_returnResn" class="form-control" rows="5"
										style="height: 150px;"></textarea>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 모달 -->
	<div th:replace="insa/modal/default :: registModal"></div>
	<script th:inline="javascript">
		const modal = document.getElementById("registModal");
		window.today = new Date();

		// 공통 함수 정의
		function handleStatusChange(value) {
		  const today = new Date();
		  const $extraArea = $("#extraArea");
		  const $approveArea = $("#approveArea");
		  const $rejectArea = $("#rejectArea");

		  // 초기화
		  $extraArea.hide();
		  $approveArea.hide();
		  $rejectArea.hide();

		  if (value === "g2") {
		    $extraArea.show();
		    $approveArea.show();
		    $("#v_updtDt").val(dateFormat(today, 'yyyy-MM-dd'));
		  } else if (value === "g3") {
		    $extraArea.show();
		    $rejectArea.show();
		    $("#v_updtDt").val(dateFormat(today, 'yyyy-MM-dd'));
		  } else {
		    $("#v_updtDt").val('');
		  }
		}

		
		$(document).ready(function() {
			const $selectBox = $("#v_st");			
			
			const $vcatnTy = $("#v_vcatnTy");   // 휴가유형 select
		    const $salyPymntSt = $("#v_salyPymntSt"); // hidden input
		    const $confmerId = $("#confmerId"); // confmerId hidden input		    
		    const $cfmNm = $("#v_cfmNm"); // cfmNm 승인자이름		    
		    const $joHoeBtn = $("#joHoe"); // 조회버튼
		    const $registBtn = $("#regist"); // 저장버튼	 d   
		    const $dleVcatnBtn = $("#dleVcatn"); // 삭제버튼	 d   
		    const $resetBtn = $("#reset"); // 초기화	 d   
		    
		    $("#v_creaDt").val( dateFormat(today,'yyyy-MM-dd') );		    

			$selectBox.on("change", function() {
				if( !$confmerId.val() ){					
		    		alert("관리자만 설정할 수 있습니다.");
		    		return $selectBox.val( localStorage.getItem("tempSelectValue") );
		    	}		    	
				handleStatusChange($(this).val());
				// "신청"일 때는 아무것도 출력하지 않음
				$cfmNm.val([[${Session.empNm}]]);
			});
			
			
			$resetBtn.on("click", function() {
				$(".joHoeGrp").each(function() {
					$(this).val(null);
				});
				$('[id^="v_"]').each(function() {
					$(this).val(null);
				});
				$("#v_nm").val([[${Session.empNm}]]);
				$("#v_empId").val([[${Session.empId}]]);
				console.log("다 지워졌나?");
			});
		    
		 // 조회버튼 누를시 일어나는 이벤트
		    $joHoeBtn.on("click", function() {		    	
		    		let datas = {};
		    		$('.joHoeGrp').each(function() {
		    		    datas[this.id] = $(this).val();
		    		});
		    		
		    		datas["empId"] = /*[[${Session.empId}]]*/ "";

		    		console.log(datas);
		    		// jQuery AJAX 호출
		    		$.ajax({
		    		    url: "/vcatnJohoe",                // 요청 URL
		    		    type: "get",                     // GET 방식 (fetch 코드와 동일)
		    		    data: datas
		    		})
		    		.done((result) => {
		    		    console.log(result);
		    		    grid.resetData(result);          // 결과를 grid에 반영
		    		})
		    		.fail((error) => {
		    		    console.error(error);
		    		    alert("데이터 요청 중 오류 발생");
		    		});		      
		    });
		 	
		 	//저장버튼 누를시
		    $registBtn.on("click", function() {
		    	let datas = {};
				$('[id^="v_"]').each(function() {
				    // this.id에서 앞의 "v_" 제거
				    let key = this.id.replace(/^v_/, '');
				    datas[key] = $(this).val();
				});
				datas["confmerId"] = $confmerId.val() ? $confmerId.val() : null;
				//휴가유형에 따른 유급 무급 판단
				if($vcatnTy.val() == "h1" || $vcatnTy.val() == "h3") {
					datas["salyPymntSt"] = '유급'
				}else if($vcatnTy.val() == "h2") {
					datas["salyPymntSt"] = '무급'
				}else{}
				console.log(datas);
				
				
			    let vcatnUrl = ([[${Session.masYn}]] == "e1") ? "/vcatnUpdate" : "/vcatnRegist";
			    if(vcatnUrl =="/vcatnUpdate" && datas.st =="g1"){
			    	console.log("팅겻나?");
			    	return;
			    }

					
				
				// jQuery AJAX - POST 방식으로 JSON 전송
				 $.ajax({
				    url: vcatnUrl,                 // 요청 URL
				    type: "post",                      // POST 방식
				    contentType: "application/json",   
				    data: JSON.stringify(datas),        // 객체를 JSON 문자열로 변환									
				})
				.done((result) => {
					alert(result);			    			             
				})
				.fail((error) => {
				    console.error(error);
				    alert("등록 중 오류 발생");
				}); 
				
		    });
		 	
		 	//삭제버튼 누를시
		    $dleVcatnBtn.on("click", function() {
		    	
		    	let datas = {};
				$('[id^="v_"]').each(function() {
				    // this.id에서 앞의 "v_" 제거
				    let key = this.id.replace(/^v_/, '');
				    datas[key] = $(this).val();
				});
				
		    	// jQuery AJAX - POST 방식으로 JSON 전송
				 $.ajax({
				    url: "/vcatnDel",                 // 요청 URL
				    type: "post",                      // POST 방식
				    contentType: "application/json",   
				    data: JSON.stringify(datas),        // 객체를 JSON 문자열로 변환									
				})
				.done((result) => {
					alert(result);			    			             
				})
				.fail((error) => {
				    console.error(error);
				    alert("등록 중 오류 발생");
				}); 
		    }) //삭제버튼 누를시

		});

		

		// Grid 생성
		const grid = new tui.Grid({
			el : document.getElementById('toastGrid'),
			data : [],
			scrollX : false,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '신청일',
				name : 'creaDt',
				sortable : 'true',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }
			}, {
				header : '휴가유형',
				name : 'vcatnTy',
				formatter: function({ value }) {
			        if (value === 'h1') return '연가';
			        if (value === 'h2') return '병가';
			        if (value === 'h3') return '특별휴가';
			        return value; // 그 외 값은 그대로 출력
			      }
			}, {
				header : '시작일',
				name : 'vcatnBegin',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }
			}, {
				header : '종료일',
				name : 'vcatnEnd',
				formatter: function({ value }) {
	                return value ? dateFormat(value, 'yyyy-MM-dd') : '';
	            }
			}, {
				header : '상태',
				name : 'st',
				width : 11,
				formatter: function({ value }) {
			        if (value === 'g1') return '신청';
			        if (value === 'g2') return '승인';
			        if (value === 'g3') return '반려';
			        return value; // 그 외 값은 그대로 출력
			      }
			}, {
				header : '신청자',
				name : 'nm',
				align : 'center'
			} ],
			bodyHeight : 600, // 본문 높이 고정
		});
	</script>
	<script type="module">
import { bindGridToForm, formToJson } from '/assets/js/teamExportUtil.js';
const today = new Date();

//그리드 행 클릭 시 상세정보 입력
grid.on('click', function(ev) {
    const rowData = grid.getRow(ev.rowKey);
    if (!rowData) return;

    bindGridToForm(rowData);	
    localStorage.setItem("tempSelectValue", rowData.st);

	// 공통 로직 호출
    handleStatusChange(rowData.st);	

    const dto = formToJson();  
    console.log(dto);
});
</script>
</body>

</html>