<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>출하지시서</title>
</head>
<body layout:fragment="content">
	<div class="esti-manage-wrapper">
		<!-- 주문서 조회 카드 -->
		<div class="row mb-3">
			<div class="col-md-12">
				<div class="card">

					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">출하지시서 조회</h5>
						</div>
						<div class="card-header-right">
							<button type="button" class="btn btn-dark" id="btnReset">초기화</button>
							<button type="button" class="btn btn-outline-dark" id="btnSearch">조회</button>
						</div>
					</div>
					<!-- end card-header -->

					<div class="card-body">
						<div class="row g-2">
							<div class="col-md-3">
								<label for="custcomName" class="form-label">고객사명</label>
								<input id="custcomName" type="text" class="form-control" placeholder="YEDAM">
							</div>
							
							<div class="col-1"></div>

							<div class="col-md-6">
								<label class="form-label">납기일</label>
								<div class="d-flex align-items-center js-date-range">

									<!-- 시작일 -->
									<div class="input-group date">
										<input type="text" class="form-control datepicker js-date-range-start" placeholder="시작일">
										<span class="input-group-text js-date-range-icon-start">
										<i class="bi bi-calendar"></i>
										</span>
									</div>

									<span class="mx-1 fw-bold fs-5">~</span>

									<!-- 종료일 -->
									<div class="input-group date ms-2">
										<input type="text" class="form-control datepicker js-date-range-end" placeholder="종료일">
										<span class="input-group-text js-date-range-icon-end">
										<i class="bi bi-calendar"></i>
										</span>
									</div>

								</div>
							</div>

						</div>
					</div>
					<!-- card-body -->
				</div>
				<!-- end card -->
			</div>
		</div>
		<!-- end row -->
		
		<!-- 출하지시서 목록 카드 -->
		<div class="row">

			<!-- 출하지시서 목록 그리드 -->
			<div class="col-md-12 d-flex">
				<div class="card w-100 h-100">

					<!-- 카드 헤더 : 제목 + 잠금 해제 버튼 -->
					<div class="card-header with-actions">
						<div class="card-header-left">
							<h5 class="card-title">출하지시서 목록</h5>
						</div>
					</div>

					<div class="card-body">
						<div class="oustGridWrap">
							<div id="oustGrid"></div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end 출고의뢰 목록 카드 -->
	</div>
	<!-- end oust-manage-wrapper -->


<script>
	//0. 데이터
	let searchForm = {
		    custcomName: "",
		    dueStart: "",
		    dueEnd: ""
	};
	const soData = [];
	const oustData = [];

	// 1. 주문서 목록 그리드
	// 1-1. Grid 공통 옵션
	const soGridOptions = {
	    bodyHeight: 240,
	    scrollX: true,
	    scrollY: true,  // 세로
	    /* rowHeaders: ['checkbox'],     // 좌측 체크박스 */
	    columnOptions: {
	        minWidth: 80,
	        resizable: true
	    }
	}; // 1-1. 끝

	
	// 2. 출고의뢰 목록 그리드
	// 2-1. Grid 공통 옵션
	const oustGridOptions = {
	    bodyHeight: 400,
	    scrollX: true,
	    scrollY: true,  // 세로
	    /* rowHeaders: ['checkbox'],     // 좌측 체크박스 */
	    columnOptions: {
	        minWidth: 80,
	        resizable: true
	    }
	}; // 1-1. 끝

	// 2-2. 출고의뢰 목록 그리드 생성
	const oustGrid = new tui.Grid({
		el: document.getElementById('oustGrid'),
		data: oustData,
		...oustGridOptions,
		columns: [
			{ header: '출하지시ID', name: 'oustId', width: 130, align: 'center' },
			{ header: '고객사명', name: 'custcomName', width: 200, align: 'left' },
			{ header: '담당자', name: 'psch', width: 80, align: 'center' },
			{ header: '담당자연락처', name: 'pschTel', width: 130, align: 'center' },
			{ header: '납기일', name: 'oustDueDt', width: 130, align: 'center' },
			{ header: '출하예정일', name: 'oustPlanDt', width: 130, align: 'center' },
			{ header: '출하요청일', name: 'oustRequestDt', width: 130, align: 'center' },
			{ header: '배송지', name: 'shipAddr', width: 400 },
			{ header: '요청사항', name: 'rm' },
		]
	}); // 1-2. 출고의뢰 목록 그리드 생성 끝
	
	
	// 2. 버튼 이벤트
	// 2-1. 초기화 버튼 이벤트
	document.getElementById("btnReset").addEventListener("click", function () {
	
	    // 1) searchForm 객체 초기화
	    searchForm = {
	        custcomName: "",
	        dueStart: "",
	        dueEnd: ""
	    };
	
	    // 2) 화면 Input 값 초기화
	    document.querySelector("#custcomName").value = "";
	    document.querySelector(".js-date-range-start").value = "";
	    document.querySelector(".js-date-range-end").value = "";
	
	    // datepicker 를 쓰는 경우 UI 리프레시
	    $('.js-date-range-start').datepicker('update', '');
	    $('.js-date-range-end').datepicker('update', '');
	
	    console.log("검색조건 초기화:", searchForm);
	});
	
	// 2-2. 조회 버튼 이벤트
	document.getElementById("btnSearch").addEventListener("click", function () {
	
	    // 1) 화면 입력값 → searchForm 에 세팅
	    searchForm.custcomName = document.querySelector("#custcomName").value.trim();
	    searchForm.dueStart = document.querySelector(".js-date-range-start").value;
	    searchForm.dueEnd = document.querySelector(".js-date-range-end").value;
	
	    console.log("보낼 searchForm >>> ", searchForm);
	
	    // 2) 백엔드 조회 요청 (POST /esti/list)
	    axios.post("/oust/list", searchForm)
	        .then(res => {
	            console.log("조회결과 >>> ", res.data);
	
	            // 3) 그리드 데이터 반영
	            oustGrid.resetData(res.data);
	        })
	        .catch(err => console.error("조회 중 오류:", err));
	});
	
</script>

</body>
</html>