<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.business.mapper.CustcomMapper">

    <select id="searchCustcom" parameterType="store.yd2team.business.service.CustcomVO" resultType="store.yd2team.business.service.CustcomVO">

        SELECT
            custcom_id AS custcomId,
            vend_id AS vendId,
            custcom_name AS custcomName,
            biz_no AS bizNo,
            biz_addr AS bizAddr,
            biz_tel AS bizTel,
            biz_fax AS bizFax,
            psch,
            psch_tel AS pschTel,
            psch_email AS pschEmail,
            rpstr,
            rpstr_tel AS rpstrTel,
            bs_ty AS bsTy,
            crea_dt AS creaDt
        FROM tb_custcom
        WHERE vend_id = #{vendId}

	 	<if test="custcomId != null and custcomId != ''">
	        AND CUSTCOM_ID LIKE '%' || #{custcomId} || '%'
	    </if>
	    <if test="custcomName != null and custcomName != ''">
	        AND CUSTCOM_NAME LIKE '%' || #{custcomName} || '%'
	    </if>
	    <if test="psch != null and psch != ''">
	        AND PSCH LIKE '%' || #{psch} || '%'
	    </if>
	    ORDER BY CUSTCOM_ID
    </select>
    
 <!-- 공통코드 불러옴 -->
	<select id="selectBSType" resultType="store.yd2team.business.service.CustcomVO">
        SELECT
               c.code_id AS codeId
             , c.grp_id AS grpId
             , c.vend_id AS vendId
             , c.code_nm AS codeNm
             , c.yn AS yn
        FROM   tb_code c
        WHERE  c.grp_id = 'bs'
          AND  c.yn = 'Y'
        ORDER BY c.code_id
    </select>   
    
 <!-- 고객사 신규 등록 -->
    <insert id="insertCustcom" parameterType="store.yd2team.business.service.CustcomVO">

    <!-- 고객사 PK 생성 -->
    <selectKey keyProperty="custcomId" resultType="string" order="BEFORE">
        SELECT fn_newcust_id()
        FROM dual
    </selectKey>
	
	    INSERT INTO tb_custcom (
	          custcom_id
	        , vend_id          <!-- 회사코드 -->
	        , custcom_name
	        , biz_no
	        , biz_addr
	        , biz_tel
	        , biz_fax
	        , psch
	        , psch_tel
	        , psch_email
	        , rpstr
	        , rpstr_tel
	        , bs_ty
	        , crea_dt
	        , crea_by          <!-- 등록자 -->
	        , updt_by          <!-- 수정자 -->
	    ) VALUES (
	          #{custcomId}
	        , #{vendId}
	        , #{custcomName}
	        , #{bizNo}
	        , #{bizAddr}
	        , #{bizTel}
	        , #{bizFax}
	        , #{psch}
	        , #{pschTel}
	        , #{pschEmail}
	        , #{rpstr}
	        , #{rpstrTel}
	        , #{bsTy}
	        , SYSDATE
	        , #{creaBy}
	        , #{updtBy}
	    )
	</insert>
	
	<update id="updateCustcom" parameterType="store.yd2team.business.service.CustcomVO">
	    UPDATE tb_custcom
	       SET custcom_name = #{custcomName}
	         , biz_no       = #{bizNo}
	         , biz_addr     = #{bizAddr}
	         , biz_tel      = #{bizTel}
	         , biz_fax      = #{bizFax}
	         , psch         = #{psch}
	         , psch_tel     = #{pschTel}
	         , psch_email   = #{pschEmail}
	         , rpstr        = #{rpstr}
	         , rpstr_tel    = #{rpstrTel}
	         , bs_ty        = #{bsTy}
	         , updt_dt      = SYSDATE
	         , updt_by      = #{updtBy}
	     WHERE custcom_id   = #{custcomId}
	       AND vend_id      = #{vendId}
	</update>
	
	<insert id="insertCreditLimit">
	    INSERT INTO tb_cdtln_lmt (
	          cdtln_no
	        , vend_id
	        , custcom_id
	        , crea_dt
	        , crea_by
	    ) VALUES (
	          seq_newcredit.nextval
	        , #{vendId}
	        , #{custcomId}
	        , SYSDATE
	        , #{vendId}  -- 또는 empId
	    )
	</insert>
    

</mapper>