<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.common.mapper.EmpAcctMapper">

	<update id="updatePassword">
	    UPDATE tb_emp_acct
	       SET login_pwd = #{loginPwd},
	           updt_dt   = SYSDATE,
	           updt_by   = #{updtBy}
	     WHERE emp_acct_id = #{empAcctId}
	</update>
	
	<update id="clearTempPasswordFlag">
	    UPDATE tb_emp_acct
	       SET temp_yn = 'e2',    
	           updt_dt = SYSDATE,
	           updt_by = #{updtBy}
	     WHERE emp_acct_id = #{empAcctId}
	</update>

	<select id="selectEmpEmployeeList">
        SELECT    d.dept_nm,
                  e.clsf,
                  e.emp_id,
                  j.code_nm          AS job_nm,
                  e.nm,
                  e.cttpc,   
                  e.email,  
                  a.emp_acct_id,   
                  a.login_id,
                  a.st               AS acct_status,
                  c.code_nm          AS acct_status_name,
                  c.code_nm,  
                  e.vend_id,
                  NVL(ur.role_cnt, 0) AS role_cnt  
        FROM      tb_emp e
        LEFT JOIN tb_dept d
               ON e.dept_id = d.dept_id
              AND e.vend_id = d.vend_id
        LEFT JOIN tb_emp_acct a
               ON e.emp_id  = a.emp_id
              AND e.vend_id = a.vend_id
        LEFT JOIN (
			        SELECT emp_acct_id, COUNT(*) AS role_cnt
			          FROM tb_user_role
			         GROUP BY emp_acct_id
			    ) ur
      		   ON ur.emp_acct_id = a.emp_acct_id
        LEFT JOIN tb_code c
               ON c.grp_id  = 'r'
              AND c.code_id = a.st
        LEFT JOIN tb_code j
               ON j.grp_id  = 'k'
              AND j.code_id = e.clsf
        WHERE 1 = 1
          <if test="vendId != null and vendId != ''">
            AND e.vend_id = #{vendId}
          </if>
          <if test="deptName != null and deptName != ''">
            AND d.dept_nm LIKE '%' || #{deptName} || '%'
          </if>
          <if test="jobName != null and jobName != ''">
            AND e.clsf LIKE '%' || #{jobName} || '%'
          </if>
          <if test="empName != null and empName != ''">
            AND e.nm LIKE '%' || #{empName} || '%'
          </if>
          <if test="loginId != null and loginId != ''">
            AND a.login_id LIKE '%' || #{loginId} || '%'
          </if>
        ORDER BY d.dept_nm, e.clsf, e.emp_id
    </select>
    
    <select id="selectEmpDeptList">
	    SELECT
	        dept_id AS dept_id,
	        dept_nm AS dept_nm
	    FROM tb_dept
	    WHERE 1 = 1
	      <if test="vendId != null and vendId != ''">
	        AND vend_id = #{vendId}
	      </if>
	    ORDER BY dept_nm
	</select>
	
	<select id="selectEmpNameAutoComplete">
	  SELECT *
	  FROM (
	    SELECT
	      e.emp_id    AS empId,
	      e.nm        AS nm,
	      d.dept_nm   AS deptNm,
	       jc.code_nm  AS jobNm,
	      a.login_id  AS loginId
	    FROM tb_emp e
	    LEFT JOIN tb_emp_acct a
	           ON e.vend_id = a.vend_id
	          AND e.emp_id  = a.emp_id
	    LEFT JOIN tb_dept d
	           ON e.vend_id = d.vend_id
	          AND e.dept_id = d.dept_id
	    LEFT JOIN tb_code jc
               ON NVL(jc.vend_id,e.vend_id) = e.vend_id
              AND jc.code_id = e.clsf      
	    WHERE e.vend_id = #{vendId}
	      AND e.nm LIKE '%' || #{keyword} || '%'
	    ORDER BY e.emp_id
	  )
	</select>
	
	<select id="selectLoginIdAutoComplete">
	  SELECT *
	  FROM (
	    SELECT
	      e.emp_id    AS empId,
	      e.nm        AS nm,
	      d.dept_nm   AS deptNm,
	      jc.code_nm  AS jobNm,
	      a.login_id  AS loginId
	    FROM tb_emp_acct a
	    JOIN tb_emp e
	      ON a.vend_id = e.vend_id
	     AND a.emp_id  = e.emp_id
	    LEFT JOIN tb_dept d
	      ON e.vend_id = d.vend_id
	     AND e.dept_id = d.dept_id
	    LEFT JOIN tb_code jc
          ON NVL(jc.vend_id, e.vend_id) = e.vend_id
         AND jc.code_id = e.clsf
	    WHERE a.vend_id = #{vendId}
	      AND a.login_id LIKE '%' || #{keyword} || '%'
	    ORDER BY a.login_id
	  )
	</select>
	
	<select id="selectByEmpAcctId">
	    SELECT  emp_acct_id,
		        vend_id,
		        emp_id,
		        login_id,
		        login_pwd,
		        st,
		        fail_cnt,
		        lock_dttm,
		        last_login,
		        yn,
		        temp_yn,
		        mas_yn,
		        crea_dt,
		        crea_by,
		        updt_dt,
		        updt_by
	    FROM    tb_emp_acct
	   WHERE    emp_acct_id = #{empAcctId}
	</select>
	
	<select id="selectByVendAndEmp">
	    SELECT  emp_acct_id,
	        	vend_id,
		        emp_id,
		        login_id,
		        login_pwd,
		        st,
		        fail_cnt,
		        lock_dttm,
		        last_login,
		        yn,
		        temp_yn,
		        mas_yn,
		        crea_dt,
		        crea_by,
		        updt_dt,
		        updt_by
	    FROM    tb_emp_acct
	   WHERE    vend_id = #{vendId}
	     AND    emp_id  = #{empId}
	</select>
	
	<insert id="insertEmpAcct">
	    <selectKey keyProperty="empAcctId" resultType="string" order="BEFORE">
	      <![CDATA[
	        SELECT 'acct'
	               || TO_CHAR(SYSDATE, 'YYYYMM')
	               || LPAD(
	                    NVL(MAX(TO_NUMBER(SUBSTR(emp_acct_id, -3))), 0) + 1,
	                     3,
	                    '0'
	                )
	          FROM tb_emp_acct
	         WHERE emp_acct_id LIKE 'acct' || TO_CHAR(SYSDATE, 'YYYYMM') || '%'
	      ]]>
	    </selectKey>
	
	    INSERT INTO TB_EMP_ACCT (emp_acct_id,
						         vend_id,
						         emp_id,
						         login_id,
						         login_pwd,
						         st,
						         fail_cnt,
						         lock_dttm,
						         last_login,
						         yn,
						         temp_yn,
						         crea_dt,
						         crea_by,
						         updt_dt,
						         updt_by
	    ) VALUES (#{empAcctId},
			      #{vendId},
			      #{empId},
			      #{loginId},
			      #{loginPwd},
			      #{st},
			      #{failCnt},
			      NULL,
			      NULL,
			      #{yn},
			      #{tempYn},
			      SYSDATE,
			      #{creaBy},
			      SYSDATE,
			      #{updtBy}
	    )
	</insert>


    <update id="updateEmpAcct">
        UPDATE TB_EMP_ACCT
           SET login_id  = #{loginId},
               login_pwd = #{loginPwd},
               st        = #{st},
               fail_cnt  = #{failCnt},
               temp_yn   = #{tempYn},
               updt_dt   = SYSDATE,
               updt_by   = #{updtBy}
         WHERE emp_acct_id = #{empAcctId}
    </update>

    <select id="selectEmpPhone"
            parameterType="map"
            resultType="string">
        SELECT e.cttpc
          FROM TB_EMP e
         WHERE e.vend_id = #{vendId}
           AND e.emp_id  = #{empId}
    </select>
	
	<delete id="deleteEmpRoles">
	  DELETE FROM tb_user_role
	   WHERE emp_acct_id = #{empAcctId}
	</delete>
	
	<!-- 역할 매핑 insert -->
	<insert id="insertEmpRole">
	  INSERT INTO tb_user_role (
	      emp_acct_id,
	      role_id,
	      vend_id,
	      crea_dt,
	      crea_by,
	      updt_dt,
	      updt_by
	  ) VALUES (
	      #{empAcctId},
	      #{roleId},
	      #{vendId},
	      SYSDATE,
	      #{creaBy},
	      SYSDATE,
	      #{creaBy}
	  )
	</insert>
	
	<select id="selectEmpAcctRoles">
	    SELECT  r.role_id      AS roleId,    
	            r.role_nm      AS roleNm,    
	            r.role_ty      AS roleTy,     
	            c.code_nm      AS roleTyNm,   
	            r.yn           AS useYn       
	    FROM    tb_user_role ur                
	    JOIN    tb_role r
	           ON ur.role_id = r.role_id
	    LEFT JOIN tb_code c
	           ON r.role_ty = c.code_id
	    WHERE   ur.emp_acct_id = #{empAcctId}
	    ORDER BY r.role_nm
	</select>
	
	<update id="updateAcctStByVendId">
	  UPDATE tb_emp_acct
	     SET st = #{st},
	         updt_dt = SYSDATE,
	         updt_by = #{updtBy}
	   WHERE vend_id = #{vendId}
	     AND st <![CDATA[ <> ]]> #{st}
	</update>
	
	<select id="selectExpiredVendIds" resultType="string">
	  SELECT DISTINCT vend_id
	    FROM tb_subsp
	   WHERE end_dt <![CDATA[ < ]]> TRUNC(SYSDATE)
	</select>
	
	<update id="updateAcctStatusToInactive">
	  UPDATE tb_emp_acct
	     SET st      = 'r3',
	         updt_dt = SYSDATE,
	         updt_by = #{updtBy}
	   WHERE vend_id = #{vendId}
	     AND emp_id  = #{empId}
	</update>
	
	<update id="updateAcctStatusToActive">
	  UPDATE tb_emp_acct
	     SET st      = 'r1',
	         updt_dt = SYSDATE,
	         updt_by = #{updtBy}
	   WHERE vend_id = #{vendId}
	     AND emp_id  = #{empId}
	     AND st      = 'r3'  
	</update>
	
	
</mapper>