<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.insa.mapper.EmpMapper">

<select id="getListEmpJohoe">
 SELECT 
 a.*
 ,b.code_nm AS clsf_nm
 ,c.code_nm AS rspofc_nm
 ,d.code_nm AS emplymTy_nm
 ,e.code_nm AS hffcSt_nm
 ,f.dept_nm
 ,CASE WHEN bslry is not null THEN 'bslry'            
            ELSE 'pymhr'
       END AS salary_type
 ,nvl(bslry, pymhr) salary_input
FROM tb_emp a
LEFT JOIN tb_code b ON a.clsf = b.code_id
LEFT JOIN tb_code c ON a.rspofc = c.code_id
LEFT JOIN tb_code d ON a.emplym_ty = d.code_id
LEFT JOIN tb_code e ON a.hffc_st = e.code_id
LEFT JOIN tb_dept f on a.dept_id = f.dept_id
<where>
a.vend_id = #{vendId}
<if test="nm != null">  AND a.nm like '%' || #{nm} || '%'</if>
<if test="empId != null">  AND a.emp_id like '%' || #{empId} || '%'</if>
<if test="deptId != null">  AND (f.dept_id like '%' || #{deptId} || '%' OR a.dept_id IS NULL)</if>
<if test="clsf != null">  AND a.clsf like '%' || #{clsf} || '%'</if>
</where>
</select>

<select id="setDbAddId">
SELECT 'emp' || TO_CHAR(SYSDATE, 'YYMM') ||
       LPAD(NVL(MAX(SUBSTR(emp_id, LENGTH(emp_id)-2, 3)), 0) + 1, 3, '0') AS emp_id
FROM tb_emp
WHERE SUBSTR(emp_id, 4, 4) = TO_CHAR(SYSDATE, 'YYMM')
</select>


<insert id="setDbAdd">
    INSERT INTO tb_emp (
        emp_id,
        dept_id,
        basi_no,
        vend_id,
        nm,
        brthdy,
        cttpc,
        email,
        dty,
        clsf,
        rspofc,
        emplym_ty,
        bslry,
        pymhr,
        acnutno,
        encpn,
        hffc_st,        
        crea_by,        
        proof_photo
    ) VALUES (
	    #{empId},
	    #{deptId},
	    #{basiNo},
	    #{vendId},
	    #{nm},
	    #{brthdy},
	    #{cttpc},
	    #{email},
	    #{dty},
	    #{clsf},
	    #{rspofc},
	    #{emplymTy},
	    #{bslry},
	    #{pymhr},
	    #{acnutno},
	    #{encpn},
	    #{hffcSt},	    
	    'myk',	    
	    #{proofPhoto}
	)
</insert>

<update id="setDbEdit">
    UPDATE tb_emp
    SET
        dept_id     = #{deptId},
        basi_no     = #{basiNo},
        vend_id     = #{vendId},
        nm          = #{nm},
        brthdy      = #{brthdy},
        cttpc       = #{cttpc},
        email       = #{email},
        dty         = #{dty},
        clsf        = #{clsf},
        rspofc      = #{rspofc},
        emplym_ty   = #{emplymTy},
        bslry       = #{bslry},
        pymhr       = #{pymhr},
        acnutno     = #{acnutno},
        encpn       = #{encpn},
        hffc_st     = #{hffcSt},
        updt_dt     = SYSDATE,       <!-- 수정날짜는 현재시간 -->
        updt_by     = 'myk',
        proof_photo = #{proofPhoto}
    WHERE emp_id   = #{empId}
</update>







</mapper>