<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.business.mapper.PriceMapper">

<!-- 단가정책 조회 -->
	  <select id="selectPolicy" parameterType="store.yd2team.business.service.PriceVO"  resultType="store.yd2team.business.service.PriceVO">

	    SELECT
	           p.price_policy_id AS priceId
	         , p.vend_id AS vendId
	         , p.price_policy_name AS priceName
	         , p.price_ty AS priceType
	         , p.basis_dc_rate AS percent
	         , p.applc_begin_dt AS beginDt
	         , p.applc_end_dt AS endDt
	         , p.yn AS yn
	         , p.rm AS rm
	    FROM   tb_price p
	    WHERE  p.yn = 'Y'
	    <if test="searchPriceName != null and searchPriceName != ''">
	      AND  p.price_policy_name LIKE '%' || #{searchPriceName} || '%'
	    </if>
	    <if test="searchType != null and searchType != ''">
	      AND  p.price_ty = #{searchType}
	    </if>
	    <if test="searchApplcDt != null and searchApplcDt != ''">
	      AND  #{searchApplcDt}
	           BETWEEN p.applc_begin_dt
	               AND NVL(p.applc_end_dt, TO_DATE('29991231','YYYYMMDD'))
	    </if>
	    ORDER BY p.applc_end_dt DESC

    </select>
	
<!-- 정책유형 공통코드 불러옴 -->
	<select id="selectPriceType" resultType="store.yd2team.business.service.CommonCodeVO">
        SELECT
               c.code_id AS codeId
             , c.grp_id AS grpId
             , c.vend_id AS vendId
             , c.code_nm AS codeNm
             , c.yn AS yn
        FROM   tb_code c
        WHERE  c.grp_id = 'pty'
          AND  c.yn = 'Y'
        ORDER BY c.code_id
    </select>

<!-- 저장버튼 insert update 머지문 -->
	<update id="savePricePolicy" parameterType="store.yd2team.business.service.PriceVO">
	    MERGE INTO tb_price t
	    USING (
	        SELECT 
	            #{priceId}   AS price_policy_id,
	            #{priceName} AS price_policy_name,
	            #{priceType} AS price_ty,
	            #{percent}   AS basis_dc_rate,
	            #{beginDt}   AS applc_begin_dt,
	            #{endDt}     AS applc_end_dt,
	            #{yn}        AS yn,
	            #{rm}        AS rm,
	
	            #{vendId}    AS vend_id,
	            #{creaBy}    AS crea_by,
	            #{updtBy}    AS updt_by
	        FROM dual
	    ) s
	    ON (t.price_policy_id = s.price_policy_id)
	
	    WHEN MATCHED THEN
	        UPDATE SET
	            t.price_policy_name = s.price_policy_name,
	            t.price_ty          = s.price_ty,
	            t.basis_dc_rate     = s.basis_dc_rate,
	            t.applc_begin_dt    = s.applc_begin_dt,
	            t.applc_end_dt      = s.applc_end_dt,
	            t.yn                = COALESCE(s.yn, 'Y'),
	            t.rm                = s.rm,
	            t.vend_id           = s.vend_id,
	            t.updt_dt           = SYSDATE,
	            t.updt_by           = s.updt_by
	
	    WHEN NOT MATCHED THEN
	        INSERT (
	            price_policy_id,
	            price_policy_name,
	            price_ty,
	            basis_dc_rate,
	            applc_begin_dt,
	            applc_end_dt,
	            yn,
	            rm,
	            vend_id,
	            crea_dt,
	            crea_by
	        ) VALUES (
	            fn_price_policy_id(),
	            s.price_policy_name,
	            s.price_ty,
	            s.basis_dc_rate,
	            s.applc_begin_dt,
	            s.applc_end_dt,
	            COALESCE(s.yn, 'Y'),
	            s.rm,
	            s.vend_id,
	            SYSDATE,
	            s.crea_by
	        )
	</update>
	
	
<!-- 삭제 -->	
	<delete id="deletePricePolicy" parameterType="java.util.List">
	    DELETE FROM tb_price
	    WHERE price_policy_id IN
	    <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</delete>
	
	
	<!-- ===========================고객사모달=============================마지막줄 세션때문에 추가 -->
    <!-- detail 삭제 -->
    <delete id="deletePriceDetail">
        DELETE FROM tb_price_detail
        WHERE price_policy_id = #{priceId}
          AND custcom_id is not null   
    </delete>

    <!-- detail insert (고객사만 저장) -->
    <insert id="insertPriceDetail" parameterType="map">
        INSERT INTO TB_PRICE_DETAIL (
            PRICE_DETAIL_NO,
            PRICE_POLICY_ID,
            VEND_ID,
            CUSTCOM_ID,
            APPLC_START_DT,
            APPLC_END_DT,
            DC_RATE,
            CREA_BY,
            UPDT_BY
        ) VALUES (
            SEQ_PRICE_DETAIL.NEXTVAL,
            #{priceId},
            #{vendId},
            #{custcomId},
            #{applcStartDt},
            #{applcEndDt},
            #{dcRate},
            #{creaBy},
            #{updtBy}
        )
    </insert>

    <!-- detail 조회 (checkbox 자동 체크용) -->
    <select id="selectPricePolicyDetail" parameterType="String" resultType="map">
	    SELECT 
	        custcom_id AS "custcomId"
	    FROM tb_price_detail
	    WHERE price_policy_id = #{priceId}
	      AND custcom_id IS NOT NULL
	</select>
	
	
	<!-- ===============================상품모달============================== -->
	<select id="selectProductList" parameterType="String" resultType="map">
	    SELECT 
	        product_id AS "productId",
	        product_name AS "productName",
	        'EA'              AS "unit",
	        basis_sale_amt AS "basisSaleAmt"
	    FROM tb_product
	    WHERE 1 = 1
	      <if test="_parameter != null and _parameter != ''">
	          AND product_name LIKE '%' || #{_parameter} || '%'
	      </if>
	    ORDER BY product_name
	</select>
	
	
	<select id="selectPricePolicyProduct" parameterType="String" resultType="map">
	    SELECT product_id AS "productId"
	    FROM tb_price_detail
	    WHERE price_policy_id = #{priceId}
	      AND product_id IS NOT NULL
	</select>
	

	<delete id="deletePriceProductDetail" parameterType="String">
	    DELETE FROM tb_price_detail
	    WHERE price_policy_id = #{priceId}
	      AND product_id IS NOT NULL
	</delete>

	<insert id="insertPriceProductDetail" parameterType="map">
        INSERT INTO TB_PRICE_DETAIL (
            price_detail_no,
            price_policy_id,
            vend_id,
            product_id,
            applc_start_dt,
            applc_end_dt,
            dc_rate,
            crea_by,
            updt_by
        ) VALUES (
            SEQ_PRICE_DETAIL.NEXTVAL,
            #{priceId},
            #{vendId},
            #{productId},
            #{applcStartDt},
            #{applcEndDt},
            #{dcRate},
            #{creaBy},
            #{updtBy}
        )
    </insert>
	
	<!-- 최대 할인율 -->
	<select id="selectMaxDiscount" parameterType="store.yd2team.business.service.PriceVO" resultType="store.yd2team.business.service.PriceVO">
	    SELECT *
	    FROM (
	        SELECT
	              d.dc_rate          AS dcRate
	            , d.price_policy_id  AS pricePolicyId
	            , CASE
	                WHEN d.product_id IS NOT NULL THEN 'PRODUCT'
	                ELSE 'CUSTCOM'
	              END               AS policyType
	        FROM tb_price_detail d
	        JOIN tb_price p
	          ON p.price_policy_id = d.price_policy_id
	         AND p.vend_id         = d.vend_id
	        WHERE p.vend_id = #{vendId}
	          AND p.yn = 'Y'
	          AND SYSDATE BETWEEN p.applc_begin_dt AND p.applc_end_dt
	          AND (
	                d.product_id = #{productId}
	             OR d.custcom_id = #{custcomId}
	          )
	          AND SYSDATE BETWEEN d.applc_start_dt AND d.applc_end_dt
	        ORDER BY
	              d.dc_rate DESC
	            , NVL(d.prior_rank, 999)
	    )
	    WHERE ROWNUM = 1
	
	</select>

</mapper>