<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.common.mapper.SysLogMapper">

<resultMap id="SysLogResultMap" type="store.yd2team.common.service.SysLogVO">
        <result property="logId"       column="log_id"/>
        <result property="empAcctId"   column="emp_acct_id"/>
        <result property="vendId"      column="vend_id"/>
        <result property="errDttm"     column="err_dttm"/>
        <result property="modlGrp"     column="modl_grp"/>
        <result property="modlCode"    column="modl_code"/>
        <result property="targetTbNm"  column="target_tb_nm"/>
        <result property="targetPk"    column="target_pk"/>
        <result property="motionTy"    column="motion_ty"/>
        <result property="smry"        column="smry"/>
        <result property="yn"          column="yn"/>
        <result property="creaDt"      column="crea_dt"/>
        <result property="creaBy"      column="crea_by"/>
        <result property="updtDt"      column="updt_dt"/>
        <result property="updtBy"      column="updt_by"/>
        
        <result property="modlCodeNm"   column="modl_code_nm"/>
        <result property="motionTyNm"   column="motion_ty_nm"/>

        <!-- JOIN 컬럼 -->
        <result property="loginId"     column="login_id"/>
    </resultMap>

    <!-- 1) 로그 INSERT -->
    <insert id="insertLog">
	    <selectKey keyProperty="logId" resultType="string" order="BEFORE">
		  SELECT 'LOG' || TO_CHAR(SYSDATE,'YYMM') ||
		         LPAD(NVL(MAX(TO_NUMBER(SUBSTR(log_id, 8))), 0) + 1, 3, '0')
		    FROM tb_log
		   WHERE SUBSTR(log_id, 1, 7) = 'LOG' || TO_CHAR(SYSDATE,'YYMM')
		</selectKey>
        INSERT INTO tb_log (
              log_id
            , emp_acct_id
            , oprtr_acct_id
            , vend_id
            , err_dttm
            , modl_grp
            , modl_code
            , target_tb_nm
            , target_pk
            , motion_ty
            , smry
            , yn
            , crea_dt
            , crea_by
        ) VALUES (
              #{logId}
            , #{empAcctId}
            , #{oprtrAcctId}
            , #{vendId}
            , SYSDATE 	
            , #{modlGrp}
            , #{modlCode}
            , #{targetTbNm}
            , #{targetPk}
            , #{motionTy}
            , #{smry}
            , NVL(#{yn}, 'e1')
            , SYSDATE
            , #{creaBy}
        )
    </insert>

    <!-- 2) 로그 조회 -->
	    <select id="selectLogList"
	    parameterType="store.yd2team.common.dto.SysLogSearchCond"
	    resultMap="SysLogResultMap">
	
	  SELECT
	      l.log_id,
	      l.emp_acct_id,
	      l.vend_id,
	      TO_CHAR(l.err_dttm, 'YYYY-MM-DD HH24:MI:SS') AS err_dttm,
	      l.modl_grp,
	      l.modl_code,
	      NVL(cm.code_nm, l.modl_code) AS modl_code_nm,
	      l.target_tb_nm,
	      l.target_pk,
	      l.motion_ty,
	
	      NVL(ca.code_nm, l.motion_ty) AS motion_ty_nm,
	
	      l.smry,
	      l.yn,
	      TO_CHAR(l.crea_dt, 'YYYY-MM-DD HH24:MI:SS') AS crea_dt,
	      l.crea_by,
	      TO_CHAR(l.updt_dt, 'YYYY-MM-DD HH24:MI:SS') AS updt_dt,
	      l.updt_by,
	      a.login_id
	  FROM tb_log l
	  JOIN tb_emp_acct a
	    ON l.emp_acct_id = a.emp_acct_id
	  LEFT JOIN tb_code cm
	    ON cm.grp_id = 'd'
	   AND cm.code_id = l.modl_code
	   AND cm.yn IN ('e1', 'Y')
	  LEFT JOIN tb_code ca
	    ON ca.grp_id = 'ac'
	   AND ca.code_id = l.motion_ty
	   AND ca.yn IN ('e1', 'Y')
	  WHERE 1 = 1
	
	  <if test="accountId != null and accountId != ''">
	    AND a.login_id LIKE '%' || #{accountId} || '%'
	  </if>
	
	  <if test="module != null and module != ''">
	    AND l.modl_code = #{module}
	  </if>
	
	  <if test="action != null and action != ''">
	    AND l.motion_ty = #{action}
	  </if>
	
	  <if test="startDate != null and startDate != ''">
	    <![CDATA[
	      AND l.err_dttm >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
	    ]]>
	  </if>
	
	  <if test="endDate != null and endDate != ''">
	    <![CDATA[
	      AND l.err_dttm < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
	    ]]>
	  </if>
	
	  ORDER BY l.err_dttm DESC
	</select>
	
	<select id="selectLoginIdList" resultType="string">
	  SELECT login_id
	    FROM (
	      SELECT login_id
	        FROM tb_emp_acct
	       WHERE login_id LIKE '%' || #{keyword} || '%'
	       ORDER BY login_id
	    )
	</select>
	
	<select id="selectCodeList" resultType="store.yd2team.common.dto.CodeDto">
	  SELECT
	      code_id AS codeId,
	      code_nm AS codeNm
	    FROM tb_code
	   WHERE grp_id = #{grpId}
	     AND yn IN ('e1', 'Y')
	   ORDER BY code_id
	</select>


</mapper>